*{
  font-family: Verdana;
  
  margin: 0;
}
body{
  background: #eee;
}

.wrapper{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.flexbox-container{
  display: flex;
  background-color: white;
 
}
.box{
  /* float: left; */
  height: 100px;
  min-width: 360px;

 
}
.red{
  background-color: red;
  flex-shrink: 1; 
}
.blue{
  background-color: blue;
  flex-shrink: 2;
}
.yellow{
  background-color: yellow;
  flex-shrink: 3;
  
}
